@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #8e191d;
    --color-secondary: #fbb117;
    --color-triatory: #f5f0e8;
  }
}

@font-face {
  font-family: "Playfair";
  src: url(/fonts/PlayfairDisplaySC-Regular.ttf);
}

body {
  font-family: "Inter", sans-serif;
}
